body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('../../assets/login-back.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

header {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 10px;
  width: 150px;
  height: auto;
}

nav {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #888b8d;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000008a;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #000000;
  color: white;
  padding: 0px 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: min-content;
}

footer a{
  padding: 10px;
}
