body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%; 
  font-family: Arial, sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  overflow: hidden; 
}

.hcontainer {
  display: flex; 
  height: 100%;
}

.slider {
  width: fit-content; 
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0); 
}

.slider a.exit{
  display: flex;
  justify-content: center;
  background-color: #da291c;
  color: #ffffff;
  height: 30px;
  align-items: center;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.slider a.exit:hover{
  background-color: #ffffff;
  color: #da291c;
}

.slider header .logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.slider ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content:start; 
  align-items:start;
  margin-left: 10%;
}

.slider ul li {
  margin: 10px 0;
}

.slider ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.slider ul li a:hover {
  color: #da291c;
}

.slider ul li i {
  padding-right: 5px;
}

.content {
  flex: 1; 
  padding: 0px;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.content main {
  background-color: white;
  padding: 0px;
  border-radius: 10px;
  height: 100vh;
  overflow-y: auto;
}