.login-card {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-card h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: flex;
    flex-direction: flex-start;
    margin-bottom: 5px;
    color: #000000;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
  }
  
  .password-container {
    position: relative;
  }

  .password-container input{
    width: 100%;
    padding: 10px;
    padding-right: 50px; 
    box-sizing: border-box;
  }

  .show-password-btn{
    position: absolute;
    color: #000000;
    border: none;
    outline: none;
    right: 20px;
    top: 45%;
    background-color: transparent;
    cursor: pointer;
    max-width: 10px;
    transition: background-color 0.3s ease;
  }

  .show-password-btn:focus {
    outline: none;
  }

  .show-password-btn:hover{
    background-color: transparent;
  }

  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #da291c;
  }
  
  .login-card p {
    margin-top: 10px;
    text-align: center;
  }
  
  .login-card a {
    color: #000000;
    text-decoration: none;
  }
  
  .login-card a:hover {
    text-decoration: underline;
  }
  